@import "utilites/margins.scss";
@import "utilites/paddings.scss";
@import "utilites/sizes.scss";
@import "utilites/positions.scss";

@import "~choices.js/src/styles/choices";

@import 'left-menu.scss';
@import 'home.scss';
@import 'skills.scss';
@import 'education.scss';
@import 'landing-admin.scss';

.main-column {
    padding-bottom: 30vh;
}

.columns:not(:last-child) {
    margin-bottom: 0 !important;
}

.editButton {
    font-size: 1.2em;
    &:hover {
        cursor: pointer;
        //font-size: 1.3em;
        color: #303030;
    }
}

.delimiter-icon {
    font-size: 0.5rem;
    vertical-align: middle;
    margin-top: -2px;
}

.select {
    width: 100%;
    & > select {
        width: 100%;
    }
}
