.about-block {
    background-color: $about-background;
    color: $about-text-main;
    /*@extend %set-font;*/
    font-family: 'Anonymous Pro', monospace;
    padding: 0 3%;
}

.about-block__ {
    &#{hello-text} {
        font-weight: bold;
        font-size: 2rem;
        opacity: 0;

        @media (max-width: 800px) {
            font-size: 1.8rem;
        }
        @media (max-width: 600px) {
            font-size: 1.6rem;
        }

        &:after{
            @include textTypingHover();
        }
    }

    &#{main-text} {
        color: $about-text-sub;
        font-size: 1.45rem;
        opacity: 0;

        @media (max-width: 800px) {
            font-size: 1.25rem;
        }
        @media (max-width: 600px) {
            font-size: 1.05rem;
        }

        &:after{
            @include textTypingHover();
        }
    }
}

.stack-logotypes {
    display: flex;
    flex-grow: 5;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;
    visibility: hidden;

    & > .stack-logo {
        width: 18%;
        display: flex;
        margin-bottom: 30px;

        & > a > img {
            width: 55%;
            margin: 0 auto;
            filter: grayscale(1);
            opacity: 0.6;
            transition: 0.3s;
            cursor: pointer;

            &:hover {
                filter: none;
                opacity: 1;
                transform: scale(1.2);
            }
        }
    }

}

.stack-logotypes__wrapper {
    position: absolute;
    bottom: 0;
}
